<!DOCTYPE html>
<html lang="en" ng-app="gemStore">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>

        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.css"/>
    </head>

    <body ng-controller="StoreController as storeCtrl">

        <div ng-hide="gem.soldOut" ng-repeat="gem in storeCtrl.gems">

            {{gem.name}}
            {{gem.price | currency}}

            <button type="button" ng-click="storeCtrl.purchase(gem)">Add to cart</button>

        </div>

        <script type="text/javascript" src="angularjs-1.4.9/angularjs.js"></script>
        <script type="text/javascript" src="angularjs-1.4.9/angular-locale_es-ar.js"></script>
        <script type="text/javascript" src="js/gemStore.js"></script>
    </body>

</html>
