<div>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':tab.isSet(1)}">
            <a href="#" ng-click="tab.setTab(1)">Description</a>
        </li>
        <li role="presentation" ng-class="{'active':tab.isSet(2)}">
            <a href="#" ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li role="presentation" ng-class="{'active':tab.isSet(3)}">
            <a href="#" ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>

    <description></description>

    <div product-specs></div>

    <div ng-show="tab.isSet(3)" class="tab-content">
        <div class="row review-panel" ng-repeat="review in gem.reviews">
            <div>
                <label>Stars:
                </label>
                {{review.stars}}
            </div>
            <div>
                <label>Author:
                </label>
                {{review.author}}
            </div>
            <div>
                <label>Body:
                </label>
                {{review.body}}
            </div>
            <small class="pull-right">
                {{review.createdOn | date}}
            </small>
        </div>
        <form name="form" ng-controller="ReviewController as reviewCtrl"
              ng-submit="form.$valid && reviewCtrl.addReview(gem) && form.$setPristine()" class="clearfix"
              novalidate>

            <div class="form-group"
                 ng-class="{'has-error': form.stars.$dirty && form.stars.$invalid || form.$submitted && form.stars.$invalid}">
                <label for="stars">Stars</label>
                <select class="form-control" name="stars" id="stars" placeholder="Stars"
                        ng-model="reviewCtrl.review.stars" ng-options="item for item in [1,2,3,4,5]"
                        required>
                    <option value="">Select</option>
                </select>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': form.email.$dirty && form.email.$invalid || form.$submitted && form.email.$invalid}">
                <label for="email">Author</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                       ng-model="reviewCtrl.review.author" required>
            </div>
            <div class="form-group">
                <label for="Body">Body</label>
                            <textarea class="form-control" id="body" placeholder="Body" rows="8"
                                      ng-model="reviewCtrl.review.body"></textarea>
            </div>
            <div class="row review-panel review-panel-live" ng-hide="form.$pristine || form.$submitted">
                <h4>Live Preview</h4>

                <div>
                    <label>Stars:
                    </label>
                    {{reviewCtrl.review.stars}}
                </div>
                <div>
                    <label>Author:
                    </label>
                    {{reviewCtrl.review.author}}
                </div>
                <div>
                    <label>Body:
                    </label>
                    {{reviewCtrl.review.body}}
                </div>
            </div>

            <button type="submit" class="btn btn-default pull-right">Submit</button>

        </form>

    </div>
</div>