<div>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':tab.isSet(1)}">
            <a href="#" ng-click="tab.setTab(1)">Description</a>
        </li>
        <li role="presentation" ng-class="{'active':tab.isSet(2)}">
            <a href="#" ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li role="presentation" ng-class="{'active':tab.isSet(3)}">
            <a href="#" ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>

    <description></description>

    <div product-specs></div>

    <reviews></reviews>
</div>